/* Define as variáveis globais para o projeto inteiro */
:root {
  --cor-principal: #42b72a;      /* O azul principal */
  --cor-principal-hover: #166fe5; /* O azul mais escuro para hover */
  --cor-fundo: #f0f2f5;          /* O cinza claro do fundo das páginas */
  --cor-branco: #ffffff;
  --cor-texto-principal: #1c1e21;
  --cor-texto-secundario: #606770;
  --cor-borda: #dddfe2;
  --cor-sucesso: #42b72a;
  --cor-erro: #fa383e;
}

/* Regras de base para toda a aplicação */
body {
  margin: 0; /* Remove margens padrão do navegador */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cor-fundo); /* Aplica a cor de fundo global */
}